import(car, data.table, multcomp, pROC)
export(genLogiDf)
export(genLogiDt)
export(logiDx)
export(logiGOF)
export(logiProb)
export(logiSS)
export(plotLogiDx)
export(stukel)
S3method(summary,logiGOF)
